<h1>Log In</h1>
<!-- session_path(@conn, :create) -->
<%= form_tag("/session", method: :post) do %>
  <div class="form-group">
    Username
    <input type="text" name="username" placeholder="username" >
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Log in</button>
    <%= link "Register", to: users_path(@conn, :new) %>
  </div>
<% end %>
