<h2>User ID: <%= @users.id %></h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @users.username %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @users.name %>
  </li>

</ul>

<span><%= link "Edit User", to: users_path(@conn, :edit, @users) %></span>
<br/>
<span><%= link "List All Users", to: users_path(@conn, :index) %></span>
